@import './theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
}

a {
  color: inherit;
}
